= simple_form_for recipe, html: {class: "well"} do |f|
  - if recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - recipe.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.input :name
    = f.input :category          
    .links
      = link_to_add_association 'Add ingredient', f, :recipe_items, :wrap_object => Proc.new {|recipe_item| recipe_item.build_ingredient; recipe_item }
    
    
    %br
    = f.button :submit, class: "btn btn-success btn-lg", role: "button"