= simple_form_for @recipe, html: {class: "well"} do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.input :name
    = f.input :category
    %button.btn.btn-success Add Ingredient
    = f.simple_fields_for :ingredients do  |ing|
      = ing.input :name
    = f.simple_fields_for :recipe_items do  |ri|
      = ri.input :amount
      = ri.input :measure
    %br
    = f.button :submit, class: "btn btn-success btn-lg", role: "button"
