%h1 Recent recipes

%table
  %thead
    %tr
      %th Name
      %th Category
      %th
      %th
      %th

  %tbody
    - recipes.each do |recipe|
      %tr
        %td= recipe.name
        %td= recipe.category
        %td= link_to 'Show', recipe
        - if policy(recipe).update?
          %td= link_to 'Edit', edit_recipe_path(recipe)
        - if policy(recipe).destroy?
          %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if policy(recipe).create?
  = link_to 'New Recipe', new_recipe_path