.container
  .col-md-12
    - recipes.each do |recipe|
      .col-sm-4.col-lg-4.col-md-4
        .panel.panel-default
          .panel-body
            .col-md-6
              - if recipe.image.present?
                = link_to image_tag(recipe.image_url, alt: "#{recipe.name}", size: "150x150")
              - else
                = link_to image_tag(recipe.image.default_url, size: "150x150")
            .col-md-6
              %p
                = truncate(recipe.name, length: 20)
              %p
                = recipe.category

%br/

- if
  = link_to "New Recipe", new_recipe_path , class: "new"



